{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>The Linen Bar</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
						
		<script type="text/javascript" src="{% static "home/js/bootstrap.js" %}"></script>
		<script type="text/javascript" src="{% static "home/js/bootstrap-collapse.js" %}"></script>

		<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="{% static "home/css/bootstrap.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "home/css/bootstrap-responsive.css" %}">
    	<link rel="stylesheet" type="text/css" href="{% static "home/css/font-awesome.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "home/css/styles.css" %}">

	</head>
	<body>
		<div class="page-wrap">
		
		<div class="intro-group">
		    <a href="{% url 'home' %}"><img src="{% static "home/images/theLinenBar-woodsign.png" %}" alt="The Linen Bar Logo"/></a>
		</div>
		
		
		<div class="nav">
			<div class="row-fluid">
			<ul class="main-nav">
				<li class="active"><a href="{% url "linens" %}">Linens</a></li>
				<li><a href="{% url "blog" %}">Blog</a></li>
				<li><a href="{% url "contact" %}">About</a></li>
			</ul>
			<ul class="social-ribbon pull-right ">
				<li><img src="{% static "home/images/ribbon.png" %}"></li>
				<li><a href="mailto:denise@thelinenbar.com"><i class="fa fa-envelope"></i></a></li>
				<li><a href="https://www.facebook.com/thelinenbar"><i class="fa fa-lg fa-facebook"></i></a></li>
				<li><a href="http://www.pinterest.com/thelinenbar/"><i class="fa fa-lg fa-pinterest"></i></a></li>
				<li><a href="https://twitter.com/thelinenbar"><i class="fa fa-lg fa-twitter"></i></a></li>
			</ul>
			</div>
		</div>

		<div class="">
		<div class="contact-group group row-fluid">
			<div class="group-inner">
						<h1>Linens Coming Soon!</h1>
						<p>As we prepare our selection for you - please feel free to contact us directly for any inquiries.</p>
						<a href="{% url "contact" %}" class="btn">Contact Us <i class="fa fa-angle-double-right"></i></a>
			</div>
		</div>

		</div><!--/.bg-->
		
		</div><!--/.page-wrap-->
		
		<div class="footer-group">
			<div class="row-fluid">
				<div class="group-inner">
				<!-- <h2>The Linen Bar</h2> -->
					<ul>
						<li><a href="mailto:denise@thelinenbar.com"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://www.facebook.com/thelinenbar" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
						<li><a href="http://www.pinterest.com/thelinenbar/" target="_blank"><i class="fa fa-lg fa-pinterest"></i></a></li>
						<li><a href="https://twitter.com/thelinenbar" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
					</ul>
					<small>&copy; The Linen Bar 2014</small>
				</div>
			</div>
		</div>
		
		<script>
			$('#example').tooltip(show)
		</script>
	</body>
</html>