/*****************************************


resets


*****************************************/
/* line 8, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
html,
body {
  height: 100%;
}
/* line 11, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
body {
  padding: 0;
  font-family: 'Open Sans' Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.65em;
}
/* line 17, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.btn {
  background-image: none;
  border: none;
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;
}
/*****************************************


variables

light yellow #FFE5A3
dark yellow #775F20

*****************************************/
/*****************************************


styles


*****************************************/
/* line 68, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.bg {
  background: url(../images/wood-plank-jagged.jpg);
  background-repeat: no-repeat;
  color: #0e2c47;
  background-position: top center;
  margin: auto;
  background-color: #FDF3EF;
}
/* line 80, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.row-fluid {
  max-width: 1024px;
  margin: auto;
}
/* line 84, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
a {
  display: inline-block;
  color: #e79491;
}
/* line 87, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
a:hover {
  color: #e7a9a7;
}
/* line 90, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
a.link-dot {
  border-bottom: 1px dotted #e79491;
  padding-bottom: 0px;
}
/* line 95, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
a.btn {
  color: #ffffff;
  background-color: #e79491;
  padding: 4px 5px;
  font-size: inherit;
}
/* line 100, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
a.btn:hover {
  color: #ffffff;
  background-color: #e7a9a7;
}
/* line 105, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
a,
a:hover {
  text-decoration: none;
}
/* line 110, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.contact-group .form-inline input,
.contact-group .form-inline textarea {
  border-radius: 0;
  border: 1px solid #434951;
}
/* line 113, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.contact-group .form-inline input:focus,
.contact-group .form-inline textarea:focus {
  border: 1px solid #f8d0c1;
  box-shadow: none;
}
/* line 118, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.contact-group .form-inline textarea {
  margin-top: 20px;
}
/* line 123, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.page-wrap {
  background-color: #FDF3EF;
}
/* line 125, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.page-wrap h1 {
  font-family: 'Roboto Slab', Georgia, serif;
  font-size: 36px;
  font-weight: 300;
}
@media (min-width: 320px) {
  /* line 133, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  h2 {
    font-size: 22px;
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: 300;
  }
  /* line 138, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  img.brand {
    display: none;
  }
  /* line 141, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  img.brand-mobile,
  img.brand {
    margin-left: -10px;
    margin-top: 20px;
  }
  /* line 146, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .intro-group {
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-top: 5px solid #f8d0c1;
    background-attachment: fixed;
  }
  /* line 157, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .intro-group a img {
    margin-top: 20px;
  }
  /* line 165, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .group-inner {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: left;
  }
  /* line 170, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .group-inner h2 {
    color: #0e2c47;
    margin-bottom: 5px;
  }
  /* line 175, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .main-nav {
    font-size: 16px;
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: 300;
  }
  /* line 180, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .main-nav li.active a:after {
    content: "\F0D7";
    margin-bottom: 0;
    font-family: "fontawesome";
    display: block;
    color: #434951;
    text-align: center;
    margin-top: 1px;
    font-size: 30px;
    position: absolute;
    margin-left: 12px;
  }
  /* line 194, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .group {
    padding: 20px 0 40px;
  }
  /* line 197, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .group.contact-group {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  /* line 201, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .group.blog-group {
    background-position: 0 5%;
  }
  /* line 205, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .img-between {
    height: 190px;
    background-image: url(../images/maui-linen.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: 0 36%;
  }
  /* line 213, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .img-between .quote-group {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 20px;
    width: 75%;
    margin: auto;
    position: absolute;
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: 300;
    left: 7%;
    top: 25px;
  }
  /* line 224, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .img-between p {
    margin-bottom: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #4b4b4b;
    font-size: 14px;
    line-height: 1.45em;
  }
  /* line 230, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .img-between p small {
    display: block;
    font-family: 'Open Sans' Helvetica, Arial, sans-serif;
    margin-top: 5px;
  }
  /* line 237, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group {
    background-color: #f8d0c1;
    color: #ffffff;
  }
  /* line 240, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group .group-inner {
    padding-top: 10px;
  }
  /* line 243, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group h2 {
    color: #ffffff;
  }
  /* line 246, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group .group-inner {
    text-align: center;
  }
  /* line 248, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group .group-inner a {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 600;
  }
  /* line 254, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group h3 {
    font-size: 20px;
    font-weight: 400;
  }
  /* line 258, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group ul {
    list-style-type: none;
    text-align: center;
    margin: 20px auto;
  }
  /* line 262, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group ul li {
    margin: 0 5px;
    display: inline-block;
  }
  /* line 265, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group ul li:first-child {
    margin-left: 0;
  }
  /* line 268, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group ul li a {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    color: #2e2e2e;
    border-bottom: none;
  }
  /* line 273, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .footer-group ul li a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
  /* line 281, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav {
    display: block;
    background-color: #434951;
    margin: auto;
    padding: 8px 0 5px;
  }
  /* line 286, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav ul {
    margin: 0 0 0 20%;
    display: inline-block;
  }
  /* line 289, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav ul li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
  }
  /* line 293, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav ul li a {
    color: #ffffff;
  }
  /* line 298, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav .social-ribbon {
    display: none;
  }
  /* line 305, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  #contact-us .contact-group .group-inner h2 {
    font-size: 24px;
    text-align: center;
  }
  /* line 311, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  #contact-us .contact-group .contact-card {
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(126, 201, 236, 0.3);
  }
}
@media (min-width: 569px) {
  /* line 322, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .intro-group {
    background-position: 0 -275px;
  }
  /* line 326, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav {
    max-height: 25px;
  }
  /* line 328, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav ul {
    margin: 0 0 0 10%;
  }
  /* line 331, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav .social-ribbon {
    display: inline-block;
    background-color: #f8d0c1;
    margin-top: -14px;
    padding-right: 20px;
  }
  /* line 336, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav .social-ribbon li {
    margin-left: 20px;
    margin-right: 0;
    padding: 15px 0;
  }
  /* line 340, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav .social-ribbon li a {
    color: #434951;
  }
  /* line 344, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav .social-ribbon li:first-child {
    padding: 0;
    margin-left: -15px;
  }
  /* line 351, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group .span8,
  .blog-group .span8 {
    float: left;
    width: 57.957447%;
  }
  /* line 358, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group .span4,
  .blog-group .span4 {
    float: left;
    width: 41.914894%;
    padding: 20px 30px 20px 35px;
    height: auto;
    margin-top: -5px;
    margin-left: -18px;
  }
  /* line 368, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group .span4 {
    background-color: rgba(126, 201, 236, 0.3);
  }
  /* line 373, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .blog-group .span4 {
    float: left;
    background-color: rgba(243, 246, 186, 0.6);
    margin-left: 0;
    margin-right: -20px;
  }
  /* line 379, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .blog-group .span8 {
    float: right;
    margin-right: 20px;
  }
  /* line 385, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .img-between .quote-group {
    top: 30px;
    left: 10%;
  }
  /* line 388, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .img-between .quote-group p {
    font-size: 18px;
  }
}
@media (min-width: 700px) {
  /* line 397, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .intro-group {
    background-position: 0 -375px;
  }
  /* line 401, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group img,
  .blog-group img {
    max-height: 345px;
  }
  /* line 404, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group .span4,
  .blog-group .span4 {
    height: 345px;
  }
  /* line 409, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group .span4 {
    float: left;
  }
  /* line 412, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group img {
    float: right;
  }
}
@media (min-width: 900px) {
  /* line 419, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .intro-group {
    background-position: 0 -646px;
  }
  /* line 422, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .page-wrap {
    background-size: 100%;
  }
  /* line 433, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group .group-inner {
    padding-right: 70px;
    margin-left: 0;
  }
  /* line 439, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .blog-group .group-inner {
    padding-left: 70px;
  }
}
@media (min-width: 1024px) {
  /* line 447, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .nav ul {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  /* line 454, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .intro-group {
    background-position: 0 -986px;
  }
  /* line 458, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .contact-group .group-inner {
    padding-right: 130px;
  }
  /* line 463, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
  .blog-group .group-inner {
    padding-left: 130px;
  }
}
/*****************************************


sticky footer


*****************************************/
/*need to be the same*/
/*need to be the same*/
/* line 481, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.page-wrap {
  min-height: 100%;
  margin-bottom: -150px;
}
/* line 484, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.page-wrap:after {
  content: "";
  display: block;
}
/* line 489, /Users/ekleong/Documents/Clients/Denise/The Linen Bar - Website v2/site/less/styles.less */
.footer-group,
.page-wrap:after {
  height: 150px;
}
