/*****************************************


resets


*****************************************/
html,body{
	height:100%;
}
body{
	padding:0;
	font-family:@fontSansSerif;
	font-size:14px;
	line-height:1.65em;
}
.btn{
	background-image:none;
	border:none;
	border-radius:0;
	text-shadow:none;
	box-shadow:none;
}
@fa-font-path: 		"../fonts/fontawesome-webfont.ttf";

/*****************************************


variables

light yellow #FFE5A3
dark yellow #775F20

*****************************************/

@white:					#fff;
@pink: 					#F8D0C1;
@aqua: 					#A0CAD3;
@darkPurple: 			#434951;

@bodyColor: 			#0E2C47;
@h2Color:  				#2190A8;

@overlayColor: 			rgb(219, 220, 224);

@overlayAquaOpacity: 	rgba(126, 201, 236, 0.3);

@grey: 					rgb(46, 46, 46);
@grey1: 				rgb(231, 231, 231);
@grey2: 				#ededed;

@linkBtnColorBg: 		#E79491;
@linkBtnColorBgHover: 	#E7A9A7;
@linkColor: 			#52B7DF;

@fontSerif: 			'Roboto Slab',Georgia, serif;
@fontSansSerif: 		'Open Sans' Helvetica, Arial, sans-serif;
@fontWeight: 			300;
@fontWeightBold: 		600;

/*****************************************


styles


*****************************************/
.bg{
		background:url(../images/wood-plank-jagged.jpg);
		background-repeat:no-repeat;
		color: @bodyColor;
		// background-attachment:fixed;
		background-position:top center;
		// max-width: 1024px;
		margin: auto;
		// border-left: 1px solid #B3B3B3;
		// border-right:1px solid #B3B3B3;
		background-color: #FDF3EF;
}
.row-fluid{
	max-width:1024px;
	margin:auto;
}
a{
	display:inline-block;
	color:@linkBtnColorBg;
	&:hover{
		color:@linkBtnColorBgHover;
	}
	&.link-dot{
		border-bottom:1px dotted @linkBtnColorBg;
		padding-bottom:0px;
	}
}
a.btn{
	color:@white;
	background-color:@linkBtnColorBg;
	padding:4px 5px;
	font-size:inherit;
	&:hover{
		color:@white;
		background-color:@linkBtnColorBgHover;
	}
}
a, a:hover{
	text-decoration: none;
}
.contact-group{
	.form-inline{
		input, textarea{
		border-radius: 0;
		border: 1px solid @darkPurple;
			&:focus{
				border:1px solid @pink;
				box-shadow:none;
			}
		}
		textarea{
			margin-top:20px;
		}
	}
}
.page-wrap {
	background-color:#FDF3EF;
		h1{
		font-family:@fontSerif;
		font-size:36px;
		font-weight:300;
	}
}

@media (min-width:320px){
	h2{
		font-size:22px;
		font-family:@fontSerif;
		font-weight:@fontWeight;
	}
	img.brand{
		display:none;
	}
	img.brand-mobile,
	img.brand{
		margin-left:-10px;
		margin-top:20px;
	}
	.intro-group{
		height:200px;
		// background-image: url(../images/vineyard-table.JPG);
		background-repeat:no-repeat;
		background-size: 100%;
		border-top:5px solid @pink;
		background-attachment:fixed;
		a{
			// margin-left:auto;
			// margin-right:auto;
			// display:block;
			img{
				margin-top:20px;
				// margin-left:auto;
				// margin-right:auto;
				// display:block;
			}
		}
	}
	.group-inner{
		width:80%;
		margin:auto;
		margin-top:10px;
		text-align:left;
		h2{
			color:@bodyColor;
			margin-bottom:5px;
		}
	}
	.main-nav{
		font-size:16px;
		font-family:@fontSerif;
		font-weight:300;
		li.active{
			a:after{
				content: "\F0D7";
				margin-bottom: 0;
				font-family: "fontawesome";
				display: block;
				color: #434951;
				text-align: center;
				margin-top: 1px;
				font-size: 30px;
				position:absolute;
				margin-left:12px;
			} 
		}
	}
	.group{
		padding:20px 0 40px;
		// background:rgba(red(@overlayColor), green(@overlayColor), blue(@overlayColor),0.4);
		&.contact-group{
			background-repeat:no-repeat;
			background-size: 100%;
		}
		&.blog-group{
			background-position:0 5%;
		}
	}
	.img-between{
		height:190px;
		background-image: url(../images/maui-linen.jpg);
		// max-width:100%;
		background-size:100%;
		background-repeat:no-repeat;
		position:relative;
		background-position:0 36%;
		.quote-group{
			background-color:rgba(105, 105, 105, 0.8);
			padding:20px;
			width:75%;
			margin:auto;
			position:absolute;
			font-family:@fontSerif;
			font-weight:300;
			left: 7%;
			top: 25px;
		}
			p{
				margin-bottom:0;
				color:@white;
				text-shadow:1px 1px 1px rgb(75,75,75);
				font-size:14px;
				line-height:1.45em;
				small{
					display:block;
					font-family:@fontSansSerif;
					margin-top:5px;
				}
			}
	}
	.footer-group{
		background-color:@pink;
		color:@white;
		.group-inner{
			padding-top:10px;
		}
		h2{
			color:@white;
		}
		.group-inner{
			text-align:center;
			a{
				text-transform: uppercase;
				letter-spacing:0.04em;
				font-weight:600;
			}
		}
		h3{
			font-size:20px;
			font-weight:400;
		}
		ul{
			list-style-type: none;
			text-align:center;
			margin:20px auto;
			li{
				margin:0 5px;
				display:inline-block;
				&:first-child{
					margin-left:0;
				}
				a{
					background-color:rgba(red(@white), green(@white), blue(@white), 0.5);
					padding:5px 10px;
					color:@grey;
					border-bottom:none;
					&:hover{
						text-decoration: none;
						background-color:rgba(red(@white), green(@white), blue(@white), 0.8);
					}
				}
			}
		}
	}
	.nav{
		display:block;
		background-color:@darkPurple;
		margin:auto;
		padding:8px 0 5px;
		ul{
			margin:0 0 0 20%;
			display:inline-block;
			li{
				float:left;
				margin-right:20px;
				list-style-type:none;
				a{
					color:@white;
				}
			}
		}
		.social-ribbon{
			display:none;
		}
	}
	#contact-us{
		.contact-group{
			.group-inner{
				h2{
					font-size:24px;
					text-align:center;
					// color:@h2Color;
				}
			}
			.contact-card{
				padding:30px;
				margin-bottom:20px;
				background-color:@overlayAquaOpacity;
			}
		}
	}
}

@media (min-width:569px){	

	.intro-group{
		// height:400px;
		background-position:0 -275px;
	}
	.nav{
		max-height:25px;
		ul{
			margin:0 0 0 10%;
		}
		.social-ribbon{
			display:inline-block;
			background-color: @pink;
			margin-top: -14px;
			padding-right:20px;
			li{
				margin-left:20px;
				margin-right:0;
				padding:15px 0;
				a{
					color:@darkPurple;
				}
			}
			li:first-child{
				padding:0;
				margin-left:-15px;
			}
		}
	}
	.contact-group, .blog-group{
		.span8{
			float:left;
			width:57.957447%;
			img{
				// max-width:300px;
			}
		}
		.span4{
			float:left;
			width:41.914894%;
			padding: 20px 30px 20px 35px;
			height: auto;
			margin-top: -5px;
			margin-left: -18px;
		}
	}
	.contact-group{
		.span4{
			background-color: @overlayAquaOpacity;
		}
	}
	.blog-group{
		.span4{
			float:left;
			background-color: rgba(243, 246, 186, 0.6);
			margin-left:0;
			margin-right:-20px;
		}
		.span8{
			float:right;
			margin-right:20px;
		}
	}
	.img-between{
		.quote-group{
			top:30px;
			left:10%;
			p{
				font-size:18px;
			}
		}
	}

}

@media (min-width:700px){
	.intro-group{
		background-position: 0 -375px;
	}
	.contact-group, .blog-group{
		img{
			 max-height:345px;
		}
		.span4{
			height:345px;
		}
	}
	.contact-group{
		.span4{
			float:left;
		}
		img{
			float:right;
		}
	}

}
@media (min-width:900px){
	.intro-group{
		background-position:0 -646px;
	}
	.page-wrap{
		// background-image:url(../images/paint.jpg);
		background-size: 100%;
		
	}
	.contact-group, .blog-group{
		.span8{
			// width:52%;
		}
	}
	.contact-group{
		.group-inner{
			padding-right:70px;
			margin-left:0;
		}
	}
	.blog-group{
		.group-inner{
			padding-left:70px;
		}
	}

}
@media (min-width:1024px){
	.nav{
		ul{
			margin:0;
		}
	}
}

@media (min-width:1280px){
	.intro-group{
		background-position: 0 -986px;
	}
	.contact-group{
		.group-inner{
			padding-right:130px;
		}
	}
	.blog-group{
		.group-inner{
			padding-left:130px;
		}
	}
}



/*****************************************


sticky footer


*****************************************/
@footerHeight: 			150px;		/*need to be the same*/
@pageHeight: 			-150px;		/*need to be the same*/

.page-wrap{
	min-height:100%;
	margin-bottom:@pageHeight;
	&:after{
		content:"";
		display:block;
	}
}
.footer-group,
.page-wrap:after{
	height:@footerHeight;
}









